USE [master]
GO
/****** Object:  Database [Login_Usuarios]    Script Date: 26/9/2023 12:05:08 ******/
CREATE DATABASE [Login_Usuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Login_Usuarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Login_Usuarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Login_Usuarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Login_Usuarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Login_Usuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Login_Usuarios]
GO
/****** Object:  User [alumno]    Script Date: 26/9/2023 12:05:08 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/9/2023 12:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Nombre] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[Telefono] [int] NULL,
	[Ciudad] [varchar](50) NULL,
	[DNI] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
