<form action= '@Url.Action("Account")' method = "post">
  <div class="mb-3">
    <label for="Nombre" class="form-label">Iniciar Sesion</label>
    <input type="text" class="form-control" id="Nombre" name="Nombre" >
  </div>
  <div class="mb-3">
    <label for="Contraseña" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="Contraseña" name="Contraseña">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href='@Url.Action("Registro")'> Crear cuenta</a>
  <a href='@Url.Action("OlvideContraseña")'> Recuperar Contraseña</a>
</form>