<script src= "js/site.js"></script>
<form action= '@Url.Action("CrearUsuario")' method = "post" onsubmit="return contraseña()">
  <div class="mb-3">
    <label for="Nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="Nombre" name="Nombre" >
    
  </div>
  <div class="mb-3">
    <label for="Contraseña" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="Contraseña" name="Contraseña">
  </div>
  <div class="mb-3">
    <label for="Telefono" class="form-label">Telefono</label>
    <input type="number" class="form-control" id="Telefono" name="Telefono">
  </div>
  <div class="mb-3">
    <label for="Ciudad" class="form-label">Ciudad</label>
    <input type="text" class="form-control" id="Ciudad" name="Ciudad">
  </div>
  <div class="mb-3">
    <label for="DNI" class="form-label">DNI</label>
    <input type="number" class="form-control" id="DNI" name="DNI">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>